.modalContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    background-color: whitesmoke;
    height: 20rem;
    width: 30rem;
    position: relative;
    top: calc(50% - 10rem);
    left: calc(50% - 15rem);
}

